{% extends 'base.html.twig' %}
{% block body %}
    <h3>Anunturi:</h3>
    <br>
    <a href="{{ path('new-ad') }}">New</a>
    {% for ad in ads %}
        <a href="{{ path('view_ad', {'id': ad.id}) }}">{{ ad.title }}</a>
        -
        {{ ad.price }}
        -
        {{ ad.CreatedAt|date('Y-m-d H:i') }}

        <a href="{{ path('edit_article', {id: ad.id}) }}">Edit</a>
        <a href="{{ path('delete_anunt', {id: ad.id}) }}">Delete</a>

        <br>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(ads) }}
    </div>
{% endblock %}