{# app/Resources/views/viewad.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ ad.title }}
    <br>
    {{ ad.price }}
    <br>
    {{ ad.description }}
    <br>
    {{ ad.createdat|date('Y-m-d H:i') }}
    <br>
    {{ ad.user }}
    <br>
    <a href="{{ path('homepage') }}"><b>Back</b></a>
{% endblock %}