{% extends 'base.html.twig' %}
{% block body %}
    <h3>Anunturi:</h3>
    <br>
    {% for ad in ads %}
        <a href="{{ path('view_ad', {'id': ad.id}) }}">{{ ad.title }}</a>
        -
        {{ ad.price }}
        -
        {{ ad.CreatedAt|date('Y-m-d H:i') }}
        <br>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(ads) }}
    </div>
{% endblock %}