{% extends 'base.html.twig' %}
{% block body %}
    <h3>Anunturi:</h3>
    <br>
    {% if app.user %}
        <a href="{{ path('new-ad') }}">New</a>
    {% endif %}
    <div>
        <form action="" method="GET">
            <input type="text" name="search"/>
            <select name="sort_type">
                <option value="default">Default</option>
                <option value="price-asc">Price ASC</option>
                <option value="price-desc">Price DESC</option>
           </select>
            <button type="submit">Filter</button>
        </form>
    </div>

    {% for ad in ads %}
        <a href="{{ path('view_ad', {'id': ad.id}) }}">{{ ad.title }}</a>
        -
        {{ ad.price }}
        -
        {{ ad.CreatedAt|date('Y-m-d H:i') }}

        <br>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(ads) }}
    </div>
{% endblock %}